<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example</title>
    <link rel="stylesheet" href="./style.css"/>
</head>
<body>
    
    <p class='title'>ㅇㅇ게시판 글쓰기</p>

    <form action="#">
        <table>
            <tr>
                <td>
                    <input type="text" name='articleTitle' placeholder='제목입력'/>
                </td>
            </tr>
            <tr>
                <td>
                    <textarea name="articleContent" placeholder='내용입력'></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="#" class='btn'>취소</a>
                    <input class='btn' type="submit" value="작성"/>
                </td>
            </tr>
        </table>
    </form>
    
</body>
</html>